.banner * {
    transition: all .5s;
    -webkit-transition: all .5s;
}
.banner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background: url(../img/index_banner.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.banner-info {
    padding-left: 250px;
    padding-top: 50px;
    color: #fff;
}
.banner-info h1 {
    font-size: 80px;
    letter-spacing: 8px;
}
.banner-info h2 {
    margin: 30px 0 20px 0;
    font-size: 38px;
    letter-spacing: 5px;
}
.banner-info p {
    max-width: 620px;
    line-height: 40px;
    letter-spacing: 2px;
    font-size: 22px;
}


.circle figure{
    position: absolute;
    width: 600px; height: 600px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: -200px;
    right: -22px;
    background: rgba(204, 0, 0, .75);
}
.circle figure::after {
    position: absolute;
    content: '';
    width: 720px; height: 720px;
    background: url(../img/circle_small.png);
    animation:circle1 30s linear infinite;
    -webkit-animation:circle1 30s linear infinite; 
}
.circle figure::before {
    position: absolute;
    content: '';
    width: 1207px; height: 1207px;
    background: url(../img/circle_big.png);
    animation:circle2 30s linear infinite;
    -webkit-animation:circle2 30s linear infinite; 
}


.product, .adv {
    padding: 50px 0;
    color: #333;
    text-align: center;
}
.product h1, .adv h1 {
    font-size: 40px;
}
.product>p {
    font-size: 16px;
}

.roundabout-holder{list-style:none;width:1440px;height:500px;margin:0px auto;}
.roundabout-moveable-item{
    position: relative;
    height:400px;width:650px;
    cursor:pointer;
}
.roundabout-moveable-item img{height:100%;width:100%; border-radius: 5px;}
.roundabout-moveable-item .info {
    position: absolute;
    width: 100px; height: 100%;
    top: 0; right: 0;
    background: rgba(204, 0, 0, .9);
    border-radius: 2px;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    color: #fff;
    font-weight: bold;
}
.roundabout-moveable-item .active-info {
    display: none;
    position: absolute;
    width: 300px; height: calc(100% + 60px);
    top: -30px; right: 0;
    background: rgba(204, 0, 0, .9);
    border-radius: 5px;
    text-align: center;
    color: #fff;
    padding: 50px 15px;
}
.roundabout-moveable-item .active-info img {
    margin-top: 20px;
    width: 100px; height: 100px;
}
.roundabout-moveable-item .active-info h3 {
    font-size: 20px;
    margin-top: 30px;
}
.roundabout-moveable-item .active-info p {
    font-size: 14px;
    line-height: 28px;
    text-align: left;
}
.roundabout-moveable-item .active-info a {
    display: inline-block;
    padding: 5px 30px; margin-top: 30px;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #fff;
}
.roundabout-moveable-item .active-info a:hover {
    text-decoration: none;
    background: #fff;
    color: #c01a28;
}

.roundabout-in-focus{cursor:auto;}
.roundabout-in-focus .info {
    display: none;
}
.roundabout-in-focus .active-info {
    display: block;
}


.advs-wrap {
    margin-top: 50px;
}
.adv-item {
    margin: 0 15px;
    padding: 30px;
    height: 320px;
    overflow: hidden;
    border-radius: 10px;
}
.adv-item h4 {
    font-size: 18px;
    line-height: 50px;
}
.adv-item p {
    font-size: 14px;
}

.adv .hover-hidden {
    
}
.adv .hover-show {
    display: none;
    max-height: 100px;
    overflow: hidden;
    text-align: left;

}


.banner2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    height: 600px;
    color: #fff;
    padding: 50px 0;



    background: url(../img/index_banner2.jpg);
    background-size: cover;
    background-position: center;

}
.banner2-top {
    text-align: center;
}
.banner2-top h1 {
    font-size: 40px;
}
.banner2 p {
    font-size: 16px;
    max-width: 700px;
    line-height: 28px;
}

.highly-active {
    padding: 50px 0;
    text-align: center;
}
.highly-active .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.highly-active-btns {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.highly-active  h1 {
    font-size: 40px;
    line-height: 60px;
}
.highly-active p {
    font-size: 16px;
    line-height: 30px;
}
.highly-active img {
    margin: 15px 0 30px 0;
}
.highly-active-btns a, .contact a  {
    display: inline-block;
    width: 200px;
    height: 34px;
    line-height: 34px;
    background: #c01a28;
    color: #fff;
    text-align: center;
    border-radius: 3px;

}
.contact {
    padding-top: 50px;
    background: #c01a28;
}
.contact .container{
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 400px;
}
.contact .contact-info {
    max-width: 600px;
    color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.contact img {
    height: 400px;
}
.contact h1 {
    font-size: 40px; 
    line-height: 60px;
}
.contact p {
    font-size: 15px;
    line-height: 30px;
}
.contact p:last-child {
    text-align: right;
}

@media (max-width: 1620px) {
    .roundabout-holder{list-style:none;width:1000px;height:460px;margin:0px auto;}
    .roundabout-moveable-item{
        height:350px;width:568px;
    }
}

@media (max-width: 1440px) {
    .banner-info {
        padding-left: 100px;
    }
    .circle figure {
        bottom: -250px;
        right: -220px;
    }
    .banner-info h1 {
        font-size: 70px;
    }
    .banner-info p {
        max-width: 500px;
    }
}
@media (max-width: 1200px) {
    .roundabout-holder{list-style:none;width:700px;height:400px;margin:0px auto;}
    .roundabout-moveable-item{
        height:300px;width:487px;
    }
    .roundabout-moveable-item .info {
        font-size: 20px;
    }
    .roundabout-moveable-item .active-info {

        width: 260px; 

        padding: 30px 15px;
    }
    .roundabout-moveable-item .active-info img {
        margin-top: 0;
        width: 80px; height: 80px;
    }
    .roundabout-moveable-item .active-info h3 {
        font-size: 18px;
        margin-top: 15px;
    }

     .roundabout-moveable-item .active-info a {

        margin-top: 15px;
    } 

    .m-product-wrap {
        padding: 0 15px;
    }
    .m-product-wrap li {
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 65px 100px 65px 0;
    }
    .m-product-wrap li > div {
        position: relative;
    }
    .m-product-wrap li > div > img {
        width: 100%；
        height: 100%;
    }
    .m-product-info {
        position: absolute;
        top: -50px; right: -100px;bottom: -50px;
        width: 300px;
        background: rgba(204, 0, 0, .9);
        border-radius: 5px;
        padding: 30px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #fff;
    }

    .m-product-info img {
        margin-top: 20px;
        width: 80px; height: 80px;
    }
    .m-product-info h3 {
        font-size: 18px;
        margin-top: 22px;
    }
    .m-product-info p {
        font-size: 14px;
        line-height: 28px;
        text-align: left;
    }
    .m-product-info a {
        display: inline-block;
        padding: 5px 20px; margin-top: 20px;
        border: 1px solid #ccc;
        border-radius: 3px;
        color: #fff;
    }
    .m-product-info a:hover {
        text-decoration: none;
        background: #fff;
        color: #c01a28;
    }


}
@media (max-width: 992px) {
    .banner {
        justify-content: center;
    }
    .banner-info {
        padding: 0 15px;
        color: #fff;
        text-align: center;
    }
    .banner-info h1 {
        font-size: 60px;
        letter-spacing: 5px;
    }
    .banner-info h2 {
        font-size: 35px;
        letter-spacing: 4px;
    }
    .banner-info p {
        max-width: auto;
    }


}

@media (max-width: 768px) {
    .banner-info {
        padding: 0 30px 60px;
    }
    .banner-info h1 {
        font-size: 30px;
        /*letter-spacing: 5px;*/
    }
    .banner-info h2 {
        font-size: 20px;
        /*letter-spacing: 4px;*/
    }
    .banner-info p {
        font-size: 14px;
        line-height: 30px;
        max-width: auto;
    }
    .product {
        padding-top: 15px;
        padding-bottom:15px;
    }
    .product h1 {
        font-size: 25px;
    }
    .product p {
        font-size: 13px;
    }

    .m-product-wrap li {
        padding: 45px 30px 45px 0;
    }

    .m-product-info {
        top: -30px; right: -30px;bottom: -30px;
        width: 250px;
        padding: 15px;
    }

    .m-product-info img {
        display: none;
    }
    .m-product-info h3 {
        font-size: 16px;
        margin-top: 15px;
    }
    .m-product-info p {
        font-size: 13px;
        line-height: 22px;
    }
    .m-product-info a {
        padding: 5px 20px; 
        margin-top: 5px;
    }
    .adv {
        padding-top: 0;
    }
    .adv h1 {
        font-size: 25px;
    }
    .adv .container {
        margin-top: 0;
    }
    .m-adv-items .adv-item {
        margin: 0;
        padding: 30px 15px 15px;
        height: 275px;
    }
    .m-adv-items img {
        width: 75px;
    }
    .m-adv-items h4{
        font-size: 15px;
        line-height: 26px;
    }
    .m-adv-items p {
        font-size: 13px;
        text-align: left;
    }
    
    .banner2 {
        padding: 50px 15px 20px;
        height: 500px;
    }
    .banner2 h1 {
        font-size: 25px;
    }
    .banner2 p {
        font-size: 13px;
    }
    .highly-active {
        padding-top: 15px;
    }
    .highly-active h1 {
        font-size: 25px;
    }
    .highly-active p {
        font-size: 13px;
    }
    .highly-active .highly-active-btns a {
        font-size: 12px;
        width: 150px;
    }
    
    .contact {
        margin-top: 0;
        padding-top: 0;
    }
    .contact .container {
        height: 300px;
    }
    .contact h1 {
        font-size: 25px;
    }
    .contact p {
        font-size: 13px;
    }

}