<!--  Footer  -->
        <footer>
            <div class="container">
                <div class="row no-margin">
                    <div class="col-sm-4 hidden-xs">
                        <ul >
                            <li><a href="./">首页</a></li>
                            <li><a href="./advantage.php">KOALA 优势</a></li>
                            <li><a href="./secrecy.php">保密协议</a></li>
                            <li><a href="./law.php">法律条款</a></li>
                            <li><a href="./calendar.php">财经新闻</a></li>
                            <li><a href="./downloads.php">下载中心</a></li>
                            <li><a href="./about.php">关于我们</a></li>
                            <li><a href="https://my.koalafx.net/login">登录CRM</a></li>
                            <li><a href="https://my.koalafx.net/register">注册账号</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-8 f-right">
                        <div class="row f-r-top">
                            <h3>&nbsp;&nbsp;&nbsp;&nbsp;风险警告</h3>
                            <p>
                                外汇交易和其他杠杆产品的交易涉及相当高的风险，因而未必适合所有投资者。其高杠杆既有利亦有弊。在未参与外汇交易前，您必须考量到您的投资目标、经验程度，以及个人所能承受的风险。您有可能面对损失部分或所有资金，而当中的损失有可能超过您的初始投资本金，因此，建议您不要冒险投资自己预算以外的数额。在KOALA进行交易之前，您应了解外汇交易的风险，若有疑问即可向独立的财务顾问询问专业意见。
                            </p>
                        </div>
                        <div class="row f-r-bottom">
                            <div class="hidden-xs col-sm-7">
                                <h3>关于我们</h3>
                                <p>
                                    KOALA是首屈一指的线上经纪商，为全球个人交易者和机构提供外汇期权撮合交易平台<br>2000万美金的保障金，严格恪守美国NFA的监管条例，为客户提供专业、透明的金融服务。作为全球最严苛的金融监管机构之一，NFA让所有经纪商监管记录以电子可查询的形式出现，增强了经纪商对公众的透明度。
                                </p>
                            </div>
                            <div class="col-xs-12 col-sm-5">
                                <h3>联系方式</h3>
                                <p>邮箱联系 <br>info@koalafx.net&nbsp;（咨询请电邮）</p>
                                <p>客服热线<br>+(1)-347-7975203</p>
                                <p>NFA监管号<br>0509259</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </footer>
        <script>
        (function(){
          var c=document.createElement('script');
          c.src='//kefu.qycn.com/vclient/?webid=131706';
          var s=document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(c,s);
        })();
        </script>
