<!--  Footer  -->
        <footer>
            <div class="container">
                <div class="row no-margin">
                    <div class="col-sm-4 hidden-xs">
                        <ul >
                            <li><a href="./">Rumah</a></li>
                    
                            <li><a href="./advantage.php">Keunggulan KOALA</a></li>
                            <li><a href="./secrecy.php">Perjanjian kerahasiaan</a></li>
                            <li><a href="./law.php">Istilah hukum</a></li>
                            <li><a href="./downloads.php">Pusat Download</a></li>
                            <li><a href="./about.php">Tentang kami</a></li>

                            <li><a href="https://my.koalafx.net/login">Login anggota</a></li>
                            <li><a href="https://my.koalafx.net/register">Daftar akun</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-8 f-right">
                        <div class="row f-r-top">
                            <h3>&nbsp;&nbsp;&nbsp;&nbsp;Peringatan risiko</h3>
                            <p>
                                Perdagangan valuta asing dan produk leverage lainnya melibatkan risiko yang cukup besar dan mungkin tidak sesuai untuk semua investor. Leverage yang tinggi memiliki kelebihan dan kekurangan. Sebelum Anda berpartisipasi dalam forex trading, Anda harus mempertimbangkan tujuan investasi, pengalaman, dan toleransi risiko pribadi Anda. Anda mungkin menghadapi kerugian sebagian atau seluruh dana, dan kerugian tersebut dapat melebihi modal investasi awal Anda, oleh karena itu, kami merekomendasikan agar Anda tidak mengambil risiko melakukan investasi dalam jumlah selain anggaran Anda sendiri. Sebelum melakukan trading di KOALA, Anda harus memahami risiko perdagangan valuta asing dan, jika ragu, berkonsultasilah dengan penasihat keuangan independen untuk mendapatkan nasehat profesional.
                            </p>
                        </div>
                        <div class="row f-r-bottom">
                            <div class="hidden-xs col-sm-7">
                                <h3>Tentang kami</h3>
                                <p>
                                    KOALA adalah broker online utama yang menyediakan Broker Perdagangan Pilihan Forex ke pedagang dan institusi perorangan di seluruh dunia 20 juta dolar AS untuk dana keamanan, mematuhi peraturan peraturan NFA Amerika Serikat, untuk menyediakan layanan keuangan profesional dan transparan kepada pelanggan. Sebagai salah satu regulator keuangan yang paling ketat di dunia, NFA telah memungkinkan semua catatan peraturan broker muncul dalam format yang dapat ditelusuri secara elektronik, meningkatkan transparansi broker ke publik.
                                </p>
                            </div>
                            <div class="col-xs-12 col-sm-5">
                                <h3>Informasi kontak</h3>
                                <p>Kontak e-mail <br>info@koalafx.net&nbsp;(Untuk pertanyaan, mohon email)</p>
                                <p>Hotline layanan pelanggan<br>+(1)-347-7975203</p>
                                <p>Nomor peraturan NFA<br>0509259</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </footer>
        <script>
        (function(){
          var c=document.createElement('script');
          c.src='//kefu.qycn.com/vclient/?webid=131706';
          var s=document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(c,s);
        })();
        </script>