body, h1, h2, h3, h4, h5, h6, p, a {
    font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
}
a {
    text-decoration: none;
}
ul{
    list-style-type: none;
    padding-left: 0;
}
header {
    /*height: 80px;*/
}

header > nav {
    padding: 0;
    border: none!important;
    margin-bottom: 0!important;
    border-radius: 0!important;
    box-shadow: 0 -3px #cc1325 inset;
    background: #fff;
}
header .navbar-brand {
    position: absolute;
    padding: 0 15px 8px 60px;
    height: 80px;
    line-height: 80px;
    display: flex;
    align-items: center;
}
header .navbar-right {
    margin-right: 35px;
}
header .navbar-nav>li>a {
    line-height: 80px;
    padding: 0  25px;
}

header .navbar-nav>li>a:hover,
header .nav .open>a, 
header .nav .open>a:focus, 
header .nav .open>a:hover {
    background: #cc1325;
    color: #fff;
}
header .dropdown-menu>li>a {
    line-height: 2.5;
}
header .dropdown-menu>li>a:focus,
header .dropdown-menu>li>a:hover {
    background-color: #cc1325;
}

header .navbar-toggle {
    padding: 0; margin: 0;
    height: 80px;
}
header .navbar-toggle .icon-bar {
    height: 2px;
    background-color: #cc1325;
}


footer {
    background: #323433;
    box-shadow: 0 5px #cc1325 inset;
}

footer .container{
  padding:50px 0;
}
footer ul>li{
  line-height: 40px;
}
footer ul>li>a{
  color: #ccc;
}
footer ul>li>a:hover{
  color: #ccc;
}
footer .f-right h3{
  color: #ccc;
  margin-top: 0;
  padding-bottom: 15px;
  font-size: 17px;
}
footer .f-right p{
  letter-spacing: 1px;
  line-height: 22px;
  font-size: 13px;
  max-width:none;
}
footer .f-r-bottom h3 {
    padding-left: 10px;
    margin-top: 15px;
}

footer .f-r-top p{
  border:2px dashed #c01a28;
  border-radius: 15px;
  padding:15px;color:#cecece;
}

footer .f-r-bottom p{
  color:#898989;
  padding-left: 10px;
}

/*内页*/
.page .banner {
    height: 480px;
    background-size: cover;
    background-position: center;
}
.page main {
    margin-top: -120px;
    margin-bottom: 60px;
    padding: 40px 30px;
    background: #fff;
    box-shadow: 0 0 10px -1px rgba(204, 0, 0, .8);
    border-radius: 10px;
}
.page main h1 {
    margin: 0 0 30px;
    line-height: 70px;
    text-align: center;
    /*background: #e8e8e8;*/
    background: #c01a28;
    color: #fff;
    border-radius: 5px;
    letter-spacing: 3px;
}
.page main .info h4 {
    margin-top: 25px;
    font-size: 16px;
    color: #c01a28;
}
.page main .info p {
    font-size: 14px;
    line-height: 30px;
    text-indent: 2rem;
}
.page main .info figure {
    margin: 15px;
    text-align: center;
}


@keyframes circle1 {
from {transform:rotate(0deg);}
to {transform:rotate(-360deg);}
}

@keyframes circle2 {
from {transform:rotate(0deg);}
to {transform:rotate(360deg);}
}



@media (max-width: 1200px) {
    header .navbar-nav>li>a {
        padding: 0  20px;
    }
}

@media (max-width: 992px) {
    header .navbar-brand {
        padding-left: 30px;
    }
    header .navbar-right {
        margin-right: 0;
    }
    header .navbar-nav>li>a {
        padding: 0  10px;
    }
}

@media (max-width: 768px) {
    header .navbar-brand {
        padding-left: 25px;
    }
    header .navbar-toggle {
        margin-right: 25px;
    }

    header .navbar-nav>li>a {
        line-height: 56px;
    }
    header .navbar-collapse {
        padding-right: 0;
    }

    .page .banner {
        height: 300px;
    }
    .page main {
        margin-top: 0;
        margin-bottom: 0;
        padding: 30px 15px;
        box-shadow: none;
        border-radius: 0;
    }
    .page main h1 {
        margin: 0 0 20px;
        line-height: 50px;
        font-size: 20px;
    }
    .page main .info h4 {
        margin-top: 22px;
        font-size: 15px;
    }
    .page main .info p {
        font-size: 13px;
        line-height: 26px;
    }
}
@media (min-width: 992px) {
    .login {
        background: url(../img/login_icon.png) no-repeat!important;
        background-position: 50% 50%!important;
        color: #fff!important;
    }
    .register {
        background: url(../img/register_icon.png) no-repeat!important;
        background-position: 50% 50%!important;
        color: #fff!important;
        margin-left: 15px!important;
    }

}