<!--  Footer  -->
        <footer>
            <div class="container">
                <div class="row no-margin">
                    <div class="col-sm-4 hidden-xs">
                        <ul >
                            <li><a href="./">Home</a></li>
                    
                            <li><a href="./advantage.php">Advantage</a></li>
                            <li><a href="./secrecy.php">Protocol</a></li>
                            <li><a href="./law.php">Provision</a></li>
                            <li><a href="./downloads.php">Downloads</a></li>
                            <li><a href="./about.php">About</a></li>
                            <li><a href="https://my.koalafx.net/login">Login</a></li>
                            <li><a href="https://my.koalafx.net/register" ">Register</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-8 f-right">
                        <div class="row f-r-top">
                            <h3>&nbsp;&nbsp;&nbsp;&nbsp;RISK WARNING</h3>
                            <p>
                                Transactions in foreign exchange transactions and other leveraged products involve a relatively high risk, and it may not be suitable for all investors. Its high leverage both advantages and disadvantages. Before you are involved in Forex trading, you must consider your investment objectives, experience, and personal risk. You may face the loss of some or all of the funds, and the loss may be more than your initial investment principal; therefore, it is recommended that you do not venture to invest them with unexpected amount. Before the transaction,you should be aware of all the risks associated with foreign exchange trading, and seek advice from an independent financial advisor if necessary.
                            </p>
                        </div>
                        <div class="row f-r-bottom">
                            <div class="hidden-xs col-sm-7">
                                <h3>ABOUT US</h3>
                                <p>
                                    KOALA is a major provider of online foreign exchange (Forex) trading services, offering margin FX and commodities trading to individuals and institutional clients worldwide,provide professional and transparent financial services for customers.Platform has $20 million in security and abided by the U.S. NFA regulations.NFA,as one of the toughest financial regulators in the world,make all broker's regulatory records can be inquired online,strengthening the transparency of brokers to the public.
                                </p>
                            </div>
                            <div class="col-xs-12 col-sm-5">
                                <h3>CONTACTS</h3>
                                <p>Email <br>info@koalafx.net</p>
                                <p>Tel<br>+(1)-347-7975203</p>
                                <p>NFA ID<br>0509259</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </footer>
        <script>
        (function(){
          var c=document.createElement('script');
          c.src='//kefu.qycn.com/vclient/?webid=131706';
          var s=document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(c,s);
        })();
        </script>
