<header>
    <nav class="navbar navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <!-- 导航头部 -->
            <div class="navbar-header">
                <!-- 移动设备上的导航切换按钮 -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-example">
                    <span class="sr-only">change navbar</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- 品牌名称或logo -->
                <a class="navbar-brand" href="./"><img src="assets/img/logo.png" alt=""></a>
            </div>
            <!-- 导航项目 -->
            <div class="collapse navbar-collapse navbar-collapse-example">
                <!-- 右侧的导航项目 -->
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="./">Home</a></li>
                    
                    <li><a href="./advantage.php">Advantage</a></li>
                    <li><a href="./secrecy.php">Protocol</a></li>
                    <li><a href="./law.php">Provision</a></li>
                    <!-- <li><a href="./calendar.php">财经新闻</a></li> -->
                    <li><a href="./downloads.php">Downloads</a></li>
                    <li><a href="./about.php">About</a></li>

                    <li><a href="https://my.koalafx.net/login" class="login">Login</a></li>
                    <li><a href="https://my.koalafx.net/register" class="register">Register</a></li>
                    <li class="dropdown">
                        <a href="javascript: void(0);" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" >Language <b class="caret"></b></a>
                        <ul class="dropdown-menu magictime spaceInDown" role="menu">
                            <li><a href="../zh-cn">中文</a></li>
                            <li><a href="../english">English</a></li>
                            <li><a href="../bahasa">Bahasa</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- END .navbar-collapse -->
        </div>
    </nav>
</header>
<div class="visible-xs" style="height: 80px;background: url(assets/img/m-header-bg.jpg);"></div>

